/* src/index.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Default body font for readability */
  background-color: #1c1c1c; /* Dark background for a gym-themed look */
  color: #ffffff; /* White text for contrast */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', cursive; /* Gym-themed bold font for headings */
  color: #28a745; /* Gym green for headings */
  margin-bottom: 20px;
}

a {
  color: #28a745; /* Gym green for links */
  text-decoration: none; /* Remove underline for a cleaner look */
  transition: color 0.3s;
}

a:hover {
  color: #218838; /* Darker green on hover */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
